@import url("base.css");
.banner{
	position: relative;
	width: 100%;
	height: 440px;
	overflow: hidden;
	/*background: red;*/
}
.banner1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 440px;
	overflow: hidden;
}
.banner1 img{
	position: absolute;
	width: 545px;
	height: 440px;
	top: 0;
	left: 50%;
}
.banner .left{
	margin-left: -950px;
}

.banner .right{
	margin-left: 425px;
}
.banner2{
	position: relative;
	width: 100%;
	height: 440px;
	overflow: hidden;
}
.banner .banner2-d1{
	position: absolute;
	width: 100%;
	height: 440px;
	top: 0;
	left: 0;
	overflow: hidden;
}
.banner .banner2-d1 ul{
	position: absolute;
	width: 100%;
	height: 440px;
	top: 0;
	left: 0;
	overflow: hidden;
}
.banner .banner2-d1 ul li{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 440px;
}
.banner .banner2-d1 ul li .banner2-d2-a1{
	top: 0;
	left: 50%;
	width: 830px;
	height: 440px;
	margin-left: -405px;
} 
.banner .banner2-d1 ul li a{
	display: block;
	position: absolute;
	
}
.banner .banner2-d1 ul li .little{
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: 270px;
	width: 150px;
	height: 213px;
}
.banner .banner2-d1 ul li .little2{
	top: 222px;
}
.banner .banner2-d1 ul .cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .82;
}
.banner .banner2-d1 ul li .little a{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
}
.banner .banner2-d1 ul li .little .img-name{
	position: absolute;
	top: 17px;
	left: 19px;
	width: 112px;
	height: 22px;
	overflow: hidden;
	font-size: 14px;
	line-height: 22px;
	color: #333;
}
.banner .banner2-d1 ul li .little .img-desc{
	position: absolute;
	left: 19px;
	top: 37px;
	width: 120px;
	height: 18px;
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
	color: #666;
}
.banner .banner2-d1 ul li .little img{
	position: absolute;
    top: 67px;
    left: 5px;
    width: 140px;
    height: 140px;
}
.banner2:hover .btn{
	/*opacity: 1;*/
	display: block;
}
.banner2 .btn{
	display: none;
	/*opacity: 0;*/
	position: absolute;
	width: 30px;
	height: 64px;
	top: 180px;
	background: url(../img/index.png);
}
.banner .btn-left{
	left: 50%;
	margin-left: -405px;
	background-position: -82px -145px;
}
.banner .btn-left:hover{
	background-position: -161px -145px;
}
.banner .btn-right{
	right: 50%;
	margin-right: -425px;
	background-position: -120px -145px;
}
.banner .btn-right:hover{
	background-position: -198px -145px;
}
.banner2-d2{
	position: absolute;
	width: 100%;
	top: 400px;
	height: 20px;
	text-align: center;
}
.banner2-d2 .banner-yuan{
	/*margin: 0 100px;*/
	position: relative;
	/*display: block;*/
	opacity: .8;
	padding: 0 8px 0 0;
	height: 20px;
	cursor: pointer;
}
.banner2-d2 .banner-yuan i{
	position: relative;
	display: inline-block;
	margin-left: 8px;
	width: 20px;
	height: 20px;
	background: url(../img/index.png) -26px -100px;
}
.banner2-d2 .banner-yuan .on{
	background-position: 0 -100px;
}
.banner3{
	position: absolute;
	top: 5px;
	right: 50%;
	margin-right: -595px;
	width: 170px;
	height: 430px;
	background: #ffffff;
}
.banner3 .user-infor{
	width: 170px;
	height: 161px;
	padding: 6px 0 2px;
	border-bottom: 1px solid #f2f2f2;
	
}
.banner3 .user-img{
	position: relative;
	width: 60px;
	height: 60px;
	padding: 5px;
	margin: 0 auto;
}
.banner3 .user-img span{
	position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
	background: url(../img/index.png) -91px -20px;
    /*background: url(images/index.png?v=27187) -300px -134px;*/
}
.banner3 .infor{
	width: 170px;
    height: 24px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    overflow: hidden;
}
.banner3 .btn{
	/*display: none;*/
	margin: 6px 10px;
	height: 26px;
}
.banner3 .btn a{
	display: block;
	float: left;
    margin-right: 10px;
    width: 68px;
    height: 24px;
    border: 1px solid #F90;
    background: #F90;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    line-height: 24px;
}
.banner3 .btn .newpeople{
	color: #f90;
	background: #fff;
	margin: 0;
}
.banner3 .btn .newpeople:hover{
	color: #fff;
	background: #f90;
}
.banner3 .enter{
	margin: 0 10px;
	height: 26px;
}
.banner3 .enter a{
	float: left;
    width: 75px;
    height: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #333;
}
.banner3 .enter a:hover{
	color: #f90;
}
.banner3 .enter em{
	display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 14px;
    background: url(../img/index.png) -111px 0;
    margin-right: 5px;
}
.banner3 .enter span{
	display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.banner3 .enter i{
	display: inline-block;
    vertical-align: middle;
    font-family: "Simsun";
}
.banner3 .enter .quan em{
	background-position: -88px 0;
}
.banner3-d2{
	width: 150px;
	height: 96px;
	overflow: hidden;
	margin: 9px 10px;
	font-size: 12px;
	line-height: 20px;
}
.banner3-d2 ul{
	width: 150px;
	margin-top: 0;
}
.banner3-d2 ul li{
	width: 150px;
	height: 48px;
}
.banner3-d2 ul li p{
	color:#333;
	width: 150px;
	height: 40px;
	overflow: hidden;
}
.banner3-d2 ul li a{
	color: #333;
}
.banner3-d2 ul li a:hover{
	color: #f60;
}
.banner3-d2 ul li p i{
	margin-right: 5px;
	color: #f60;
}
.banner3-d3{
	width: 170px;
    height: 145px;
    overflow: hidden;
    border-top: 1px solid #f2f2f2;
}
.banner3-d3 ul{
	width: 171px;
    height: 146px;
}
.banner3-d3 ul li{
	float: left;
    width: 56px;
    height: 72px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #f2f2f2;
}
.banner3-d3 ul li a{
	font-size: 12px;
	color:#333;
	display: block;
    width: 100%;
    height: 62px;
    padding-top: 10px;
    text-align: center;
}
.banner3-d3 ul li a:hover{
	color: #f60;
}
.banner3-d3 ul li  i{
	display: inline-block;
	/*height: 36px;*/
	margin-top:-18px;
	font-size: 24px;
    color: #f90;
}
