@font-face {
  font-family: 'iconfont';  /* project id 495222 */
  src: url('https://at.alicdn.com/t/font_495222_qp9cg0pbzfh1714i.eot');
  src: url('https://at.alicdn.com/t/font_495222_qp9cg0pbzfh1714i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_495222_qp9cg0pbzfh1714i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_495222_qp9cg0pbzfh1714i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_495222_qp9cg0pbzfh1714i.svg#iconfont') format('svg');
}
.iconfont{
	font-family: "iconfont";
	/*font-size: 16px;*/
}
