@import url("base.css");
.like{
	width: 1190px;
	margin: 20px auto 0;
}
.like .title{
	width: 100%;
	height: 22px;
	
}
.like .title span{
	float: left;
	width: 3px;
	height: 20px;
	background: #fe9901;
}
.like .title h5{
	float: left;
	margin-left: 12px;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.like .content ul{
	overflow: hidden;
	width: 1190px;
	margin-top: 8px;
	padding: 1px 0;
	background: #EEEEEE;
}
.like .content ul li{
	width: 237px;
	height: 319px;
	position: relative;
	float: left;
	background: #fff;
	margin: 1px 0 0 1px;
}
.like .content ul li a{
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.like .content ul li a img{
	width:200px;
	height: 200px;
	margin: 20px auto 0;
	display: block;
	transition: transform .5s;
}
.like .content ul li:hover a img{
	transform: scale(1.05);
}
.like .content ul li:hover a .name{
	color: #f60;
}
.like .content ul li a .name{
	width: 193px;
	height: 40px;
	margin: 15px auto 5px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	/*允许在单词内换行*/
	word-break: break-all;
	color: #333;
}
.like .content ul li a .name .zyIcon{
	float: left;
    line-height: 16px;
    padding: 0 2px;
    margin: 2px 5px 0 0;
    border: 1px solid #F60;
    border-radius: 3px;
    color: #F60;
}
.like .content ul li a .price{
	float: left;
    margin-left: 20px;
    color: #F60;
    /*font: bold 16px/18px;*/
    font-size: 16px;
    line-break: 18px;
    font-weight: bold;
}
.like .content ul li a .price i{
	font-size: ;
}
.like .content ul li a span{
	float: left;
    background: #fe9901;
    color: #FFF;
    height: 18px;
    margin-left: 10px;
    text-align: center;
    /*font: 12px/18px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";*/	
    font-size: 12px;
    line-height: 18px;
    padding: 0 6px;
    border-radius: 2px;
}
.like .end{
	position: relative;
    width: 112px;
    height: 22px;
    text-align: center;
    color: #CCC;
    margin: 15px auto;
    font-size: 18px;
    line-break: 22px;
}
.like .end span{
	position: absolute;
    top: 11px;
    width: 97px;
    height: 1px;
    background: #CCC;
}
.like .end .line-left{
	left: -97px;
}
.like .end .line-right{
	right: -97px;
}





