@import url("base.css");
.sousuo{
	height: 110px;
	width: 100%;
	background: #ffffff;
}
.sousuo img{
	height:100%;
	width: 100%;
}
.sousuo .sousuo1{
	height: 100%;
	width: 1190px;
	margin: 0 auto;
	position: relative;
	/*background: burlywood;*/
}
.sousuo .sousuo2{
	height: 104px;
}
.sousuo .sousuo2 a{
	display: block;
	float: left;
}
.sousuo .sousuo2 a:first-child{
	height: 90px;
	width: 190px;
}
.sousuo .sousuo2 img{
	width: 100%;
	height: 100%;
}
.sousuo .sousuo4{
	position: absolute;
	width: 88px;
	height: 88px;
	border: 1px solid #EEEEEE;
	right: 0;
	top: 10px;
	background: #FFFFFF;
}
.sousuo .sousuo3{
	position: absolute;
	height: 100px;
	width: 600xp;
	top: 0;
	left: 370px;
}
.sousuo3-d{
	/*display: inline;*/
	position: relative;
	float: right;
	margin-top:30px;	
}
.sousuo .sousuo3-i{
	z-index: 1;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 40px;
	line-height: 29px;
	text-align: right;
	font-size: 14px;
	color: #ccc;
}
.sousuo .sousuo3-d1{
	/*width: 30px;*/
	float: left;
	padding: 0 0 0 28px;
	border: 2px solid #fa0;
	border-right: none;
	position: relative;
	width: 390px;
}
.sousuo3-d-fixed{
	position: fixed;
    top: 5px;
    margin-top: 0;
    left: 50%;
    margin-left: -215px;
    z-index: 7692;
}
.sousuo .sousuo3-i1{
	font-size: 18px;
	width: 120px;
	height: 40px;
	background: #f90;
	padding: 0;
	/*font-family: "";*/
	font-weight: bold;
	letter-spacing: 2px;
	color: #ffffff;
	border: 0;
	cursor: pointer;
}
.sousuo .sousuo3-i2{
	width: 380px;
	padding: 9px 10px 9px 0;
	height: 18px;
	line-height: 18px;
	/*margin-top: ;*/
	border: none;
	background: #FFFFFF;
	color: rgb(204,204,204);
	font-size: 12px;
}
.sousuo .sousuo3-i2:focus{
	color: rgb(0,0,0);
	outline: none;
}
.sousuo .sousuo3-d2{
	float: left;
	width: 100%;
	height: 18px;
	margin-top: 5px;
	overflow: hidden;
}
.sousuo .sousuo3-d2 .sousuo3-a1{
	float: left;
	/*white-space: normal;*/
	margin-right: 14px;
	font-size: 12px;
	color: #999;
}
.sousuo .sousuo3-d2 a:hover{
	color: #f60;
}
.rec_results{
	display: none;
	width: 538px;
	height: 271px;
	position: absolute;
	left: 0;
	top: 41px;
	background: #fff;
	z-index: 7000;
	overflow: hidden;
}
.history{
	width: 250px;
	float: left;
	height: 269px;
	border: 1px solid #EFEFEF;
}
.history li{
	color: #666;
	line-height: 24px;
	cursor: default;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
}
.rec_results .title{
	color: #999;
	line-height: 28px;
}
.history .gray{
	padding: 0 0 0 12px;
	background: #eee;
}
.search-express-none{
	display: block;
	width: 160px;
	height: 136px;
	margin: 40px auto;
	background: url(../img/sousuo/search-express-none.png);
}
.rec-results{
	border: 1px solid #EFEFEF;
	float: right;
	position: relative;
	margin-left: -1px;
	overflow: hidden;
	height: 269px;
	width: 285px;
}
.rec-results .title{
	position: relative;
	float: none;
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 7px 0;
    border: none;
    color: #999;
    line-height: 28px;
    font-size: 12px;
}
.rec-results li{
	float: left;
    position: relative;
    height: 26px;
    margin: 0 0 15px 15px;
    overflow: hidden;
    cursor: default;
    line-height: 24px;
    text-align: left;
    color: #666;
    font-size: 12px;
}
.rec-results li a{
	display: block;
    padding: 0 5px;
    border: 1px solid #E1E1E1;
    color: #666;
    white-space: nowrap;
}
.rec-results li a:hover{
	background: #FF6600;
	color: #fff;
}
.rec_results .close{
	display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    font-size: 12px;
}
.rec_results .close:hover{
	color: #FF6600;
}
